<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

{% set ns=namespace(o = 0) %}
<h4>Statical Analysis</h4>
<form  method="POST">
{% for i in frequency %}


<select name = '{{ns.o}}'>

  {% if i == 'Daily' or i == 'daily' %}
    <option value="None">None</option>
    <option value="weekly">weekly</option>
    <option value="monthly">monthly</option>
    <option value="quarterly">quarterly</option>
    <option value="yearly">yearly</option>


  {% elif i == 'weekly' or i == 'Weekly' %}

     <option value="None">None</option>
     <option value="monthly">monthly</option>
     <option value="quarterly">quarterly</option>
     <option value="yearly">yearly</option>

  {% elif i == 'Monthly' or i == 'monthly' %}

    <option value="None">None</option>
    <option value="quarterly">quarterly</option>
    <option value="yearly">yearly</option>

  {% elif i == 'Quarterly' or i == 'quarterly' %}

    <option value="None">None</option>
    <option value="yearly">yearly</option>

  {% endif %}
</select>
{% set ns.o = ns.o + 1 %}

{% endfor %}

<br>
<br>
{% if len_id > 1 %}

<h4>Corelation between ids</h4>
<select name="id1">
  {% for i in id %}
    <option value="{{i}}">{{i}}</option>
  {% endfor %}
</select>
and
<select name="id2">
  {% for i in id %}
    <option value="{{i}}">{{i}}</option>
  {% endfor %}
</select>
{% endif %}
<br>
<br>

<h4>Moving average</h4>
<select name="mov_avg1">
  {% for i in id %}
    <option value="{{i}}">{{i}}</option>
  {% endfor %}
</select>

<input required type="text" name="mov_avg2">

<br>
<br>

<input type="submit" name="submit" value="submit">
</form>

</body>
</html>

